<header>
  <div class="container">
    <div class="row header-container">
      <div class="col-12 col-xl-9 d-flex ms-auto position-relative">
        <div class="position-relative ms-auto">
          <img
            src="./assets/images/main/basketball-player.png"
            width="720"
            class="ms-auto position-relative w-100"
          />
          <div
            class="col-10 col-xl-6 d-flex flex-column align-items-start position-absolute header-container--details"
          >
            <p class="header-container--details--info">
              The EuroLeague Finals Top Scorer is the individual award for the
              player that gained the highest points in the EuroLeague Finals
            </p>
            <button
              class="btn btn-dark text-uppercase header-container--details--btn"
            >
              continue reading
            </button>
          </div>
        </div>

        <h2
          class="col-xl-6 header-container--main-title-box--title d-flex flex-column position-absolute top-0"
        >
          <span class="m-0 p-0">Top</span>
          <span class="m-0 p-0">scorer to</span>
          <span class="m-0 p-0">the final</span>
          <span class="m-0 p-0">match</span>
        </h2>
      </div>
      <div
        class="col-8 col-xl-3 header-container--cards-list float-xl-end mx-auto me-xl-0 ms-xl-auto mt-5 mt-xl-0"
      >
        <span class="text-capitalize header-container--cards-list--day"
          >today</span
        >
        <div class="d-flex flex-column header-container--cards-list--container">
          <div
            data-include="./components/header/card/card.html"
            data-content='{
              "imageSrc": "./assets/images/main/beautiful-young-african-woman.png",
              "date":"Race98 - 03 June 2023",
              "title": "Ethiopian runners took the top four spots."
            }'
          ></div>
          <div
            data-include="./components/header/card/card.html"
            data-content='{
              "imageSrc": "./assets/images/main/fastaccelerating-race-car.png",
              "date":"INDYCAR - 03 June 2023",
              "title": "IndyCar Detroit: Dixon quickest in second practice"
            }'
          ></div>
        </div>
      </div>
    </div>
  </div>
</header>
