<div
  class="header-container--cards-list--container--card position-relative"
  style="background-image: url({imageSrc})"
>
  <div
    class="header-container--cards-list--container--card--info position-absolute"
  >
    <h3
      class="h1 d-flex flex-column header-container--cards-list--container--card--info--title"
    >
      <span
        class="h6 header-container--cards-list--container--card--info--title--date"
      >
        {date}
      </span>
      <span>{title}</span>
    </h3>
  </div>
</div>
