<section class="overflow-hidden">
  <div class="contianer-fluid">
    <div class="row">
      <div class="col-12 col-xl-6 news-container">
        <h3 class="news-container--title">Trending News</h3>
        <div class="d-flex gap-5 gap-xl-2 flex-column">
          <div
            data-include="./components/sections/trending/card/card.html"
            data-content='{
              "imageSrc": "./assets/images/news/race-horse.png",
              "date": "INDYCAR - 03 June 2023",
              "title": " 6-Year-Old Horse Dies at Belmont Park After Race Injury",
              "information": "NEW YORK—A 6-year-old horse died after being injured in a race at Belmont Park ahead of next week’s"
            }'
          ></div>
          <div
            data-include="./components/sections/trending/card/card.html"
            data-content='{
              "imageSrc": "./assets/images/news/cyclist-leads.png",
              "date": "INDYCAR - 03 June 2023",
              "title": " 6-Year-Old Horse Dies at Belmont Park After Race Injury",
              "information": "NEW YORK—A 6-year-old horse died after being injured in a race at Belmont Park ahead of next week’s"
            }'
          ></div>
          <div
            data-include="./components/sections/trending/card/card.html"
            data-content='{
            "imageSrc": "./assets/images/news/empty-boxing-arena.png",
            "date": "INDYCAR - 03 June 2023",
            "title": " 6-Year-Old Horse Dies at Belmont Park After Race Injury",
            "information": "NEW YORK—A 6-year-old horse died after being injured in a race at Belmont Park ahead of next week’s"
          }'
          ></div>
        </div>
      </div>
      <div
        class="ms-auto col-12 col-xl-6 p-0 cover-container position-relative"
      >
        <div class="cover-container--btn-box position-absolute">
          <button class="btn btn-outline-light cover-container--btn-box--btn">
            Cycling
          </button>
        </div>
        <div class="cover-container--info">
          <h3 class="h1 d-flex flex-column cover-container--info--title">
            <span class="h6 cover-container--info--date">
              Debits - 03 June 2023
            </span>
            <span>DISCOVER THE MEMBER</span>
            <span>BENEFITS OF USA CYCLING!</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
