<section class="overflow-hidden">
    <div class="container-fluid">
      <div class="row">
        <div class="football-cover-container position-relative col-12 w-100">
          <div class="football-cover-container--btn-box position-absolute">
            <button
              class="btn btn-outline-light football-cover-container--btn-box--btn"
            >
              football
            </button>
          </div>
          <div class="football-cover-container--info">
            <div
              class="d-flex flex-column football-cover-container--info--box"
            >
              <span class="h6 football-cover-container--info--box--date">
                Agence France-Presse - 04 June 2023
              </span>
              <h3
                class="h1 d-flex flex-column football-cover-container--info--box--title"
              >
                <span>Lionel Messi Leaving Ligue 1 Team </span>
                <span>Paris Saint-Germain, Club Confirms</span>
              </h3>
              <p class="football-cover-container--info--box--detials">
                The EuroLeague Finals Top Scorer is the individual award for
                the player<br />
                that gained the highest points in the EuroLeague Finals
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 w-100 p-0 m-0">
          <div
            class="container-fluid p-0 d-flex justify-content-center align-items-center justify-content-md-end pagination-container"
          >
            <ul
              class="pagination pagination-container--menu align-items-center"
            >
              <li class="page-item pagination-container--menu--item">
                <a class="page-link me-2 disabled" href="#">&#8592;</a>
              </li>
              <li class="page-item pagination-container--menu--item">
                <a class="page-link bg-dark text-white item-circle" href="#"
                  >1</a
                >
              </li>
              <li class="page-item pagination-container--menu--item">
                <a class="page-link item-circle me-2" href="#">2</a>
              </li>
              <li class="page-item pagination-container--menu--item">
                <a class="page-link item-circle me-2" href="#">3</a>
              </li>
              <li class="page-item pagination-container--menu--item">
                <a class="page-link" href="#">&#8594;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>