<section>
  <div class="fluid-container articles">
    <h3 class="articles--title">Sports Article</h3>
    <div class="row articles--container">
      <div
        class="col-12 col-md-4"
        data-include="./components/sections/articles/card/card.html"
        data-content='{
              "mainImage": "./assets/images/news/basketball-equipment 1.png",
              "authorImage": "./assets/images/authors/author-1.png",
              "name":"Jake Will.",
              "date": "04 June 2023",
              "title": "5 Exercises Basketball Players Should Be Using To Develop Strength",
              "detials": "This article was written by Jake Willhoite from Healthlisted.com Strength in basketball isn’t all about a massive body mass or ripped muscles.",
              "btnName": "Basketball"
            }'
      ></div>
      <div
        class="col-12 col-md-4"
        data-include="./components/sections/articles/card/card.html"
        data-content='{
              "mainImage": "./assets/images/news/hockey-players 1.png",
              "authorImage": "./assets/images/authors/author-2.png",
              "name":"Foxi.zacon",
              "date": "03 June 2023",
              "title": "Golden Knights out to fulfill owner quest to win Stanley Cup in 6th year",
              "detials": "The Vegas Golden Knights will play the Florida Panthers in the Stanley Cup Final beginning Saturday.",
              "btnName": "Hockey"
            }'
      ></div>
      <div
        class="col-12 col-md-4"
        data-include="./components/sections/articles/card/card.html"
        data-content='{
              "mainImage": "./assets/images/news/three-white-shuttlecocks-badminton-racquet 1.png",
              "authorImage": "./assets/images/authors/author-3.png",
              "name":"Bong Lozada",
              "date": "01 June 2023",
              "title": "‘Outdoor’ Badminton Gets Support From Local Federation",
              "detials": "The Badminton World Federation is developing Air Badminton and the country’s governing body, Philippine Badminton Association.",
              "btnName": "Basketball"
            }'
      ></div>
    </div>
    <div
      class="container-fluid p-0 d-flex pagination-container articles--pagination"
    >
      <ul class="pagination pagination-container--menu align-items-center">
        <li class="page-item pagination-container--menu--item">
          <a class="page-link me-2 disabled" href="#">&#8592;</a>
        </li>
        <li class="page-item pagination-container--menu--item">
          <a class="page-link" href="#">&#8594;</a>
        </li>
      </ul>
    </div>
  </div>
</section>
