<section>
  <div class="container-fluid trending">
    <div class="row trending--container">
      <div class="col col-xl-6 trending-news">
        <h3>Recent News</h3>
        <div class="row trending--container">
          <div class="col-12 col-sm-6 trending-news--main-card">
            <div class="trending-news--main-card--info">
              <div class="trending-news--main-card--info--title-box">
                <span class="trending-news--main-card--info--title-box--date"
                  >Day 5 Highlights</span
                >
                <h4 class="trending-news--main-card--info--title-box--title">
                  Baku 2023 World Taekwondo Championships
                </h4>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 mx-sm-auto justify-content-between trending-news--cards-container"
          >
            <div
              class="container d-flex flex-column gap-3 justify-content-between trending-news--cards-container--list"
            >
              <div
                class="d-flex gap-3 align-items-center trending-news--cards-container--list--card"
              >
                <img
                  src="./assets/images/sports/Image.png"
                  width="70"
                  height="70"
                />
                <div
                  class="trending-news--cards-container--list--card--info-box"
                >
                  <span
                    class="trending-news--cards-container--list--card--info-box--date"
                    >#Pollar. 87 - 12 July 2023</span
                  >
                  <h4
                    class="trending-news--cards-container--list--card--info-box--title"
                  >
                    Baku 2023 Taekwondo Championships
                  </h4>
                </div>
              </div>
              <div
                class="d-flex gap-3 align-items-center trending-news--cards-container--list--card"
              >
                <img
                  src="./assets/images/sports/Image-2.png"
                  width="70"
                  height="70"
                />
                <div
                  class="trending-news--cards-container--list--card--info-box"
                >
                  <span
                    class="trending-news--cards-container--list--card--info-box--date"
                    >#Pollar. 87 - 12 July 2023</span
                  >
                  <h4
                    class="trending-news--cards-container--list--card--info-box--title"
                  >
                    Baku 2023 Taekwondo Championships
                  </h4>
                </div>
              </div>
              <div
                class="d-flex gap-3 align-items-centertrending-news--cards-container--list--card"
              >
                <img
                  src="./assets/images/sports/Image-3.png"
                  width="70"
                  height="70"
                />
                <div
                  class="trending-news--cards-container--list--card--info-box"
                >
                  <span
                    class="trending-news--cards-container--list--card--info-box--date"
                    >#Pollar. 87 - 12 July 2023</span
                  >
                  <h4
                    class="trending-news--cards-container--list--card--info-box--title"
                  >
                    Baku 2023 Taekwondo Championships
                  </h4>
                </div>
              </div>
              <div
                class="btn-box d-flex justify-content-center trending-news--cards-list---btn-box"
              >
                <button class="btn btn-secondary">More &#8594;</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 clubs-ranking p-0 mt-lg-0 mt-5">
        <h3>Clubs Ranking</h3>
        <div class="container-fluid clubs-ranking--table-container">
          <table
            class="table clubs-ranking--table-container--custom-table ms-auto my-auto"
          >
            <thead>
              <tr>
                <th scope="col">Club</th>
                <th scope="col">GP</th>
                <th scope="col">W</th>
                <th scope="col">D</th>
                <th scope="col">L</th>
                <th scope="col">F</th>
                <th scope="col">A</th>
                <th scope="col">GD</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="col-4">
                  <div class="d-flex gap-3 align-items-center club-details">
                    <span class="club-details-ranking">1</span>
                    <div>
                      <img
                        src="./assets/images/sports/09.png"
                        class="club-details--logo"
                      />
                      <span class="club-details-name">Manchester City</span>
                    </div>
                  </div>
                </th>
                <th>50</th>
                <th>15</th>
                <th>5</th>
                <th>0</th>
                <th>50</th>
                <th>30</th>
                <th>20</th>
              </tr>
              <tr>
                <th scope="row" class="col-4">
                  <div class="d-flex gap-3 align-items-center club-details">
                    <span class="club-details-ranking">1</span>
                    <div>
                      <img
                        src="./assets/images/sports/09.png"
                        class="club-details--logo"
                      />
                      <span class="club-details-name">Manchester City</span>
                    </div>
                  </div>
                </th>
                <th>50</th>
                <th>15</th>
                <th>5</th>
                <th>0</th>
                <th>50</th>
                <th>30</th>
                <th>20</th>
              </tr>
              <tr>
                <th scope="row" class="col-4">
                  <div class="d-flex gap-3 align-items-center club-details">
                    <span class="club-details-ranking">1</span>
                    <div>
                      <img
                        src="./assets/images/sports/09.png"
                        class="club-details--logo"
                      />
                      <span class="club-details-name">Manchester City</span>
                    </div>
                  </div>
                </th>
                <th>50</th>
                <th>15</th>
                <th>5</th>
                <th>0</th>
                <th>50</th>
                <th>30</th>
                <th>20</th>
              </tr>
              <tr>
                <th scope="row" class="col-4">
                  <div class="d-flex gap-3 align-items-center club-details">
                    <span class="club-details-ranking">1</span>
                    <div>
                      <img
                        src="./assets/images/sports/09.png"
                        class="club-details--logo"
                      />
                      <span class="club-details-name">Manchester City</span>
                    </div>
                  </div>
                </th>
                <th>50</th>
                <th>15</th>
                <th>5</th>
                <th>0</th>
                <th>50</th>
                <th>30</th>
                <th>20</th>
              </tr>
              <tr>
                <th scope="row" class="col-4">
                  <div class="d-flex gap-3 align-items-center club-details">
                    <span class="club-details-ranking">1</span>
                    <div>
                      <img
                        src="./assets/images/sports/09.png"
                        class="club-details--logo"
                      />
                      <span class="club-details-name">Manchester City</span>
                    </div>
                  </div>
                </th>
                <th>50</th>
                <th>15</th>
                <th>5</th>
                <th>0</th>
                <th>50</th>
                <th>30</th>
                <th>20</th>
              </tr>
              <tr>
                <th scope="row" class="col-4">
                  <div class="d-flex gap-3 align-items-center club-details">
                    <span class="club-details-ranking">1</span>
                    <div>
                      <img
                        src="./assets/images/sports/09.png"
                        class="club-details--logo"
                      />
                      <span class="club-details-name">Manchester City</span>
                    </div>
                  </div>
                </th>
                <th>50</th>
                <th>15</th>
                <th>5</th>
                <th>0</th>
                <th>50</th>
                <th>30</th>
                <th>20</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
