<section>
  <div class="container my-5 categories">
    <h2 class="categories--title">Category</h2>
    <div class="row categories--container">
      <div
        class="col-6 col-md-3 d-flex flex-column justify-content-between categories--container--category"
        data-include="./components/sections/categories/card/topTitle.html"
        data-content='{
          "imageSrc": "./assets/images/categories/soccer-ball-green.png",
          "title": "football"
        }'
      ></div>
      <div
        class="col-6 col-md-3 d-flex flex-column justify-content-between categories--container--category"
        data-include="./components/sections/categories/card/bottomTitle.html"
        data-content='{
          "imageSrc": "./assets/images/categories/basketball-outdoors.png",
          "title1": "bascket",
          "title2": "ball"
        }'
      ></div>
      <div
        class="col-6 col-md-3 d-flex flex-column justify-content-between categories--container--category"
        data-include="./components/sections/categories/card/topTitle.html"
        data-content='{
          "imageSrc": "./assets/images/categories/sport-car.png",
          "title": "car sport"
        }'
      ></div>
      <div
        class="col-6 col-md-3 d-flex flex-column justify-content-between categories--container--category"
        data-include="./components/sections/categories/card/bottomTitle.html"
        data-content='{
          "imageSrc": "./assets/images/categories/red-ping-pong-racket.png",
          "title1": "Table",
          "title2": "Tennis"
        }'
      ></div>
    </div>
  </div>
</section>
